:root {
  --primary-size: 16px;
  --primary-color: #b0b;
  --secondary-color: #bada55;
}
body {
  font-size: var(--primary-size);
}

main {
  section {
    display: flex;

    article {
      box-sizing: border-box;
      width: 33%;
      padding: 1em;
      color: var(--primary-color);
      background: var(--secondary-color);
    }
  }

  & > h1 {
    padding: 0.5em;
    border-bottom: 0.25em solid var(--primary-color);
  }

  &:hover {
    background: yellow;
  }
}
