<%- include('partials/_head.ejs') %>

	<section>
	</section>
	<section>
			<form action="/register" method="POST">
				<label for="email">Email address:</label>
				<input type="email" name="email" placeholder="Enter your email">
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Enter your password">
				<label for="name">Name:</label>
				<input type="name" name="name" placeholder="Enter your name">
				<label for="avatar">Avatar:</label>
				<input type="avatar" name="avatar" placeholder="Enter your avatar">
				<button type="submit">Create a vault!</button>
			</form>
	</section>
	</body>

	</html>